<div class="container">


  <% gifs.each do |gif|  %>

  <div class="gif-container">
    <img
      src="<%= gif["gif_url"] %>"
      alt=""/>
      <p class="test"><%= gif["description"]%>.</p>
  </div>
  
  <% end  %>
  
</div>
