<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <ul>
          <h1 class="title"> <a href="/">SportsGIF</a></h1>
          <input type="text" placeholder="Search...">
           <% if logged_in?  %>
          <a href="#"><li><%=current_user["username"]%></li></a>
          
          <a href="/gifs/new"><li>Create Gif</li></a>
          <% end %>
          <a href="#"><li>Sports</li></a>
          <a href="#"><li>Athletes</li></a>
          <% if logged_in?  %>
          <form action="/logout" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="logout-btn"><li>Logout</li></button> 
          </form>
            <% else %>
          <a href="/login"><li>Sign in</li></a>
          <a href="/signup"><li>Sign up</li></a>
          <%end  %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
