<div class="form-container">
<form action="/gifs" method="post">
<h1>New Gif Post</h1>
  <label class = "form-label">Description</label>
  <input type="text" name="description" class="form-input">
  <label class = "form-label">Gif URL</label>
  <input type="text" name="gif_url" class="form-input">
  <label class = "form-label">Sport</label>
  <input type="text" name="sport" class="form-input">
  <label class = "form-label">Athlete</label>
  <input type="text" name="athlete" class="form-input">

  <button>Post</button>
</form>
</div>

