<h1>New Gif Post</h1>

<form action="/gifs" method="post">
  <label for="">description</label>
  <input type="text" name="description">
  <label for="">gif url</label>
  <input type="text" name="gif_url">
  <label for="">sport</label>
  <input type="text" name="sport">
  <label for="">athlete</label>
  <input type="text" name="athlete">

  <button>post</button>
</form>