<div class="form-container">
  <form action="/signup" method="post">
    <h1>Sign Up</h1>
    <div class="inputs">
      <label class = "form-label">Username</label>
      <input type="text" name="username">
      <label class = "form-label">Email</label>
      <input type="text"name="email">
      <label class = "form-label">Password</label>
      <input type="password" name="password">
    </div>
    <button>Sign Up</button>
  </form>
</div>