@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* color variables placeholders */

:root {
  --primary-color: #02182b;
  --secondary-color: #f66301;
  --tertiary-color: #0197f6;
  --font-color: #ffffff;
}

/* defaults */

* {
  padding: 0;
  margin: 10px 0 0 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Roboto", sans-serif;
  color: var(--font-color);
}

/* nav bar */

.title {
  color: var(--font-color);
  font-size: 30px;
}

.nav-bar {
  background-color: var(--tertiary-color);
  margin-top: -20px;
  padding-bottom: 10px;
}

.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
}

.nav-bar ul input {
  margin-left: 15%;
  border-radius: 10px;
  padding-left: 5px;
  width: 250px;
  border: none;
  height: 25px;
}

.nav-bar ul a {
  color: var(--font-color);
  text-decoration: none;
}

.logout-btn {
  color: var(--font-color);
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  padding-top: 1px;
  cursor: pointer;
  outline: none;
}

/* main */
.recent {
  text-align: center;
  font-size: 64px;
  margin-top: 100px;
  margin-bottom: -100px;
}

.container {
  margin: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
}

.gif-container {
  border-radius: 50px;
  padding: 25px;
}

.gif-container form {
  display: inline;
}

.gif-container img {
  width: 100%;
}

.gif-container p {
  color: var(--font-color);
  font-size: 16px;
}

.pointer-btn {
  cursor: pointer;
}

.gif-container a {
  text-decoration: none;
  font-size: 16px;
  color: var(--font-color);
}

.gif-container .description {
  font-size: 16px;
  display: inline;
}

.gif-sport,
.gif-athlete {
  display: inline;
  color: var(--secondary-color);
}

.gif-username {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2.5px solid white;
}

.detail-links {
  display: inline;
}

.edit-btn {
  background-color: var(--tertiary-color);
  padding: 4px 10px 4px 10px;
  border-radius: 2px;
}

.delete-btn {
  border: none;
  color: var(--font-color);
  background-color: rgb(251, 87, 87);
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  font-size: 16px;
  cursor: pointer;
}

/* log in */

.form-container {
  width: 500px;
  margin: 0 auto;
}

.form-container form {
  background-color: var(--secondary-color);
  margin-top: 50%;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 10px;
}

.form-container h1 {
  text-align: center;
  font-size: 32px;
  padding-top: 10px;
}

.form-container .form-label {
  display: block;
}

.form-container .form-input {
  width: 33%;
}

.form-container button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--font-color);
  border: none;
  background-color: var(--tertiary-color);
  padding: 5px;
  border-radius: 5px;
  width: 33%;
}

/* Media Queries */

@media only screen and (max-width: 300px) {
  .container {
    display: block;
    margin: 0 auto;
  }

  .recent {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .title {
    display: none;
  }

  .nav-bar ul li {
    font-size: 10px;
  }

  .nav-bar ul input {
    width: 100px;
    height: 15px;
    font-size: 10px;
    margin-left: -10px;
  }

  .form-container {
    width: 150px;
  }

  .form-container .form-input {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    display: block;
    margin: 0 auto;
  }

  .recent {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .title {
    display: none;
  }

  .nav-bar ul li {
    font-size: 12px;
  }

  .nav-bar ul input {
    width: 100px;
    height: 15px;
    font-size: 10px;
    margin-left: -10px;
  }

  .form-container {
    width: 250px;
  }

  .form-container .form-input {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: block;
    margin: 0 auto;
  }

  .recent {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .title {
    display: none;
  }

  .nav-bar ul li {
    font-size: 12px;
  }

  .nav-bar ul input {
    width: 100px;
    height: 15px;
    font-size: 10px;
    margin-left: -10px;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    display: block;
    margin: 0 auto;
  }

  .recent {
    font-size: 36px;
    margin-top: 50px;
    margin-bottom: -10px;
  }

  .title {
    display: none;
  }

  .nav-bar ul li {
    font-size: 12px;
  }

  .nav-bar ul input {
    width: 100px;
    height: 15px;
    font-size: 10px;
    margin-left: -10px;
  }
}
